.theme-menu__button:disabled:after {
  position: absolute;
  content: "▶";
  left: 0px; 
  top: 0;  
  animation: pulse 0.5s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    left: -19px; 
    top: 0;  
  }
  to {
    left: -15px; 
    top: 0;  
  }
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s 1 alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: jump 0.3s ease-in 0.3s;
}

@keyframes like {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes jump {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}