.theme-menu__button:disabled:after {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0px;
  animation: pulse 0.5s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    top: 0;
    left: -19px;
  }
  to {
    top: 0;
    left: -15px;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: jump 0.3s ease-in 0.3s;
}

@keyframes like {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes jump {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}